{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags%}

<div class="container">
<div class="row d-flex justify-content-center instructors-container">

<div class="col-12 mx-auto col-lg-7 d-flex justify-content-center my-4">

<form action="" method="POST" style="background:white" class=" w-100 px-5 py-4 shadow">
<h3 class= "text-center">Reset Password</h3>
{% csrf_token %}
{{form | crispy}}
   <div class="d-flex justify-content-center">
   <button type="submit" class="btn my-4 w-25 h-15" style="background:#fcb229">Reset</button>
  </div>
</form>

</div>
</div>
</div>

{% endblock  %}