{% extends 'base2.html' %}

{% block content %}
<style>
    .emphasize{ 
  background:  #fdde59;
  font-style: italic;
  line-height: 2;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-12 mx-auto col-sm-5 d-flex justify-content-center align-items-center">
            <h4>Learn at your own pace <span class="emphasize">anytime</span>, <span class="emphasize">anywhere</span> and from <span class="emphasize">any device</span>, no matter your skill level!</h4>
        </div>
        <div class="col-12 mx-auto col-sm-7">
            <img src="static/images/header/header2.png" alt="" class="img-fluid">


        </div>

    </div>
</div>
  
<!-- Section 1-->
<section class="section services-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>What We Do</h2>
                    <h5>We provide the tools and skills to teach what you love.</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-desktop"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Online Courses</h5>
                        <p class="text-justify">Learn at your own pace anytime, anywhere and from any device, no matter your skill level!</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Awesome Insturctors</h5>
                        <p class="text-justify">Top instructors from around the world teach millions of international students on Brain Trip.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fab fa-youtube"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Video-Based Learning</h5>
                        <p class="text-justify" >Choose from 130,000 online video courses with new additions published every month</p>
                    </div>
                </div>
            </div>
            <!-- / -->
        </div>
    </div>
</section>

<!--Section 2-->
<div class="container mt-100 mt-60">
    <div class="row">
        <div class="col-12 text-center">
            <div class="section-title2 mb-4 pb-2">
                <h4 class=" title_h4 mb-4">Why learners enjoy Brain Trip</h4>
                <p class=" para-desc mx-auto mb-0">Kickoff your new skillset with these free courses.</p>

            </div>
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-lg-4 col-md-6 mt-4 pt-2">
            <div class="blog-post rounded border">
                <div class="blog-img d-block overflow-hidden position-relative">
                    <img src="http://www.simpleimageresizer.com/_uploads/photos/c14f4d39/react_img_350x280.png" class="img-fluid rounded-top" alt="">
                    <div class="overlay rounded-top bg-dark"></div>
               
                </div>
                <div class="content p-3">
                    <small class="text-muted p float-right">19th Mar, 21</small>
                    <h4 class="text-dark title mt-2">React Native</h4>
                    <p class="text-muted mt-2 text-justify">One of the best course of React js and Redux on the web to buid a strong foundation of the subject, one must take this course to build a strong base in the subject. Insturctor is amazing!</p>
                    <div class="pt-3 mt-3 border-top d-flex">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid avatar avatar-ex-sm rounded-pill mr-3 shadow" alt="">
                        <div class="author mt-2">
                            <h6 class="mb-0"><a href="javascript:void(0)" class="text-dark name">Abdullah Ahmed</a></h6>
                        </div>
                    </div>
                </div>
            </div><!--end blog post-->
        </div><!--end col-->
        
        <div class="col-lg-4 col-md-6 mt-4 pt-2">
            <div class="blog-post rounded border">
                <div class="blog-img d-block overflow-hidden position-relative">
                    <img src="http://www.simpleimageresizer.com/_uploads/photos/c14f4d39/JS_img_350x280.png" class="img-fluid rounded-top" alt="">
                    <div class="overlay rounded-top bg-dark"></div>
                 
                </div>
                <div class="content p-3">
                    <small class="text-muted p float-right">19th Feb, 21</small>
                    <h4 class="mt-2 text-dark title">JavaScript</h4>
                    <p class="text-muted mt-2 text-justify">This course is a great starting point for understanding how JavaScript works with your site. It provides the basics, with good examples, quiz questions, and practice assignments.</p>
                    <div class="pt-3 mt-3 border-top d-flex">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-fluid avatar avatar-ex-sm rounded-pill mr-3 shadow" alt="">
                        <div class="author mt-2">
                            <h6 class="mb-0"><a href="javascript:void(0)" class="text-dark name">Omar Aafri</a></h6>
                        </div>
                    </div>
                </div>
            </div><!--end blog post-->
        </div><!--end col-->
        
        <div class="col-lg-4 col-md-6 mt-4 pt-2">
            <div class="blog-post rounded border">
                <div class="blog-img d-block overflow-hidden position-relative">
                    <img src="http://www.simpleimageresizer.com/_uploads/photos/c14f4d39/html_350x280.png" class="img-fluid rounded-top" alt="">
                    <div class="overlay rounded-top bg-dark"></div>
              
                </div>
                <div class="content p-3">
                    <small class="text-muted p float-right">25th Jan, 21</small>
                    <h4 class="mt-2 text-dark title">HTML</h4>
                    <p class="text-muted mt-2 text-justify">Many thanks to the creators of this course! It was a very solid refresher for me, even though I have spent in web development a few years by now. I thoroughly enjoyed every lesson.</p>
                    <div class="pt-3 mt-3 border-top d-flex">
                        <img src="https://bootdey.com/img/Content/avatar/avatar8.png" class="img-fluid avatar avatar-ex-sm rounded-pill mr-3 shadow" alt="">
                        <div class="author mt-2">
                            <h6 class="mb-0"><a href="javascript:void(0)" class="text-dark name">Amal Saad</a></h6>
                        </div>
                    </div>
                </div>
            </div><!--end blog post-->
        </div><!--end col-->
    </div><!--end row-->
</div>
{% endblock  %}