{% extends 'base.html' %} {% block content %}

<style>

.form-control{
  all : unset;
  background-color: white;
}

</style>

<div class="container">
  <div class="row mt-5">
    <div class="col-10 mx-auto col-sm-6 col-lg-4">
      <form action="{% url 'search_result' %}" method="GET">
        <div class="input-group mb-3">
          <button
            type="submit"
            class="input-group-text search-box"
            value="Search"
            id="search-icon"
          >
            <i class="fas fa-search fa-lg"></i>
          </button>
          <input
            type="text"
            class="form-control"
            name="query"
            value=""
            placeholder="Search for courses.."
          />
        </div>
      </form>
    </div>
  </div>
  
  <div class="row mb-5" style="margin-top: 10px">
  
  {% if courses %}

  {% for course in courses %}
   <div
      class="col-12 mx-auto col-sm-6 col-lg-4 mt-5 d-flex justify-content-center"
    >
      <div class="card course-card" style="width: 18rem">
        <img
          src="{{course.photo_url}}"
          class="card-img-top w-100 h-100"
          alt="..."
        />
        <div class="card-body">
          <div class="card-title d-flex">
            <img
              src="/{{course.owner.profile.image}}"
              alt=""
              style="width: 35px; height:35px; border-radius: 35px;"
              class="me-2"
            />
            <h5 class="mt-1">{{course.owner.profile.fullName}}</h5>
          </div>
          <p class="card-text">{{course.name}}</p>
          <a href="{% url 'showCourse' pk=course.id %}" class="btn btn-primary"
            >Preview</a
          >
        </div>
      </div>
    </div>
  
  {% endfor %}

  {% else %}
    <!--col 1-->
    {% for course in all_Courses %}
    <div
      class="col-12 mx-auto col-sm-6 col-lg-4 mt-5 d-flex justify-content-center"
    >
      <div class="card course-card" style="width: 18rem">
        <img
          src="{{course.photo_url}}"
          class="card-img-top w-100 h-100"
          alt="..."
        />
        <div class="card-body">
          <div class="card-title d-flex">
            <img
              src="/{{course.owner.profile.image}}"
              alt=""
              style="width: 35px; height:35px; border-radius: 35px;"
              class="me-2"
            />
            <h5 class="mt-1">{{course.owner.profile.fullName}}</h5>
          </div>
          <p class="card-text">{{course.name}}</p>
          <a href="{% url 'showCourse' pk=course.id %}" class="btn btn-primary"
            >Preview</a
          >
        </div>
      </div>
    </div>
    <!--end col 1-->
    {% endfor %}
    {% endif %}
  </div>
  <!--end row 1-->
</div>

{% endblock %}
